# Do not push world files to github
afterhours/
afterhours-old/
# Do not push libraries, the server, mods or plugins to github
libraries/
mods/*.jar
mods/*.zip
mods/*/*.jar
mods/*/*.zip
forge*.jar
minecraft*.jar
# Clean up ForgeEssentials stuff
ForgeEssentials/Backups/
ForgeEssentials/Chat/
ForgeEssentials/ServerVote/
ForgeEssentials/lib/
ForgeEssentials/ItemList.txt
ForgeEssentials/modlist.txt
ForgeEssentials/PermissionsList.txt
# Do not push logs/test stuff to github
asm/
bin/create-client
config/UniqueNames.txt
config/worldedit/worldedit.properties
crash-reports/
dynmap/
logs/
client-mods/
ForgeModLoader-server-*
*.log
*.log.lck
# Do not push local server databases to github
banned-ips.json
banned-players.json
ops.json
pack.json
usercache.json
usernamecache.json
version.json
whitelist.json
# Miscellaneous
banned*.txt
eula.txt
*.class
java.pid
screen.name
